*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family:Arial, 'Times New Roman', Times, sans-serif;
}
.header-top{
    height: 65px;
    width: 100%;
    background-color: aqua;
}
/* Header Top left starts here */
.header-top-left{
    float: left;
    width: 40%;
    height: 100%;
}
.header-top-left-first{
    width:20%;
    float:left;
    height: 100%;
}
#logoImage{
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 5%;
    height: 80%;
    width: 60%;
}
.header-top-left-second{
    width:80%;
    height:100%;
    float:right;
}
#logoText1{
    padding: 1% 2% 0% 3%;
    font-size: 200%;
    text-transform: capitalize;
}
#logoText2{
    padding-left: 20%;
    font-size: 100%;
    text-transform: capitalize;
}
/* Top left header ends here */

/* Top right header starts here */
.header-top-right{
    width: 60%;
    float: right;
    height: 100%;
}
.header-top-right-first{
    height: 100%;
    float: left;
    width: 33%;
}
#header-top-right-first-text{
    font-size: 16px;
    padding-top: 10%; 
    text-align: center;
}
.header-top-right-second{
    height: 100%;
    float: left;
    width: 33%;
}
#header-top-right-second-text{
    font-size: 16px;
    padding-top: 10%;
    text-align: center;
}
.header-top-right-third{
    height: 100%;
    float: left;
    width: 33%;
}
#header-top-right-third-text{
    font-size: 16px;
    padding-top: 10%;
    text-align: center;
}
/* Top right header ends here */

/* Bottom header starts here */
.header-bottom{
    height: 60px;
    width: 100%;
    background-color: bisque;
    position: fixed;
}
.navbar{
    padding: 20px 0px 20px 8%;
}
nav ul li{
    list-style: none;
    text-transform: uppercase;
    display: inline;
    margin: 0px 25px;
}
nav ul li a{
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    color: black;
}
li a:hover{
    background-color: purple;
    color:bisque;
}
/* Bottom header ends here */